body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff3e0;
}

header {
    background: #ff6f00;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #ff9800;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}
.main-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff6f00;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #ff6f00;
    color: white;
    text-align: center;
    padding: 10px;
}

